# Altium ----------------------------------------

CSX_PCB/Project*/*
CSX_PCB/History/*
CSX_PCB/__Previews/*
CSX_PCB/*.htm

# PSOC Creator ----------------------------------------

# ignore PSoC Creator workspaces
*.cywrk

# folders generated after build (any PSoC series)
*.cydsn/Cortex*/*
*.cydsn/codegentemp/*
*.cydsn/Generated_Source/*
*.cydsn/Export/*

# Files generated after build
*.cycdx
*.cyfit
*.rpt
*.log

# Files generated after build (PSoC 6 specific)
cy8c6xx7*
cy_ipc_config*
system_psoc63*
*.cydsn/iar/*
*.cydsn/mdk/*
*.cydsn/armgcc/*
*_timing.html
*.svd

# OneDrive
*cyprj.*
*cywrk.*

# Qt ----------------------------------

# Build Folder
build-Tactile*
*.autosave

